header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d3d3d3;
}
img{
    width: 100px;
    height: 100px;
}
ul {
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
li {
    display: inline-block;
    padding-left: 1em;
}
.video {
    margin: 0 auto;
    justify-content: center;
    width: 44%;
}
@media only screen and (min-width: 600px) {
    body {
      background-color: #eee;
    }
  }
